body{
	margin: 0;
	padding: 0;
	position: relative;
	background-color: white;
	color: #333333;
	font-family: "microsoft yahei";
}
.filterConditions{
	position: absolute;
	top: 0;
	left: 0;
	margin: 16px 0 0 4px;
	border-right: 2px solid #CCCCCC;
	width: 856px;
	height: 64px;
	padding: 12px 24px;
	font-size: 12px;
}
.filterConditions div{
	margin-bottom: 12px;
}
.filterConditions input{
	width: 124px;
	padding: 0 4px;
	margin: 0 24px 0 8px;
	border: 1px solid #CCCCCC;
	height: 24px;
	line-height: 24px;
	border-radius: .25rem;
}
#startTime,#lowScore{
	margin-right: 4px;
}
#endTime,#highScore{
	margin-left: 4px;
}
#platform,#replyState{
	width: 144px;
	padding: 0 4px;
	margin: 0 24px 0 8px;
	border: 1px solid #CCCCCC;
	height: 24px;
	line-height: 24px;
	border-radius: .25rem;
}
#replyState{
	width: 80px;
}
#orderNo,#tel,#userName{
	width: 144px;
}
.operations{
	position: absolute;
	top: 0;
	left: 920px;
	margin: 16px 0 0 4px;
	height: 64px;
	padding: 4px 24px;
	font-size: 12px;
}
.btns{
	display: inline-block;
}
.btns input{
	display: block;
	margin: 8px;
	width: 80px;
	height: 28px;
	line-height: 28px;
}
.btns input:hover,#fileOut:hover{
	cursor: pointer;
	font-weight: bold;
}
#search{
	border: 1px solid #29DACC;
	background-color: #29DACC;
	border-radius: .25rem;
	color: white;
}
#clearConditions{
	border: 1px solid #CCCCCC;
	background-color: white;
	border-radius: .25rem;
}
#fileOut{
	display: inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	float: right;
	margin-top: 8px;
	border: 1px solid #45A4FF;
	background-color: #45A4FF;
	border-radius: .25rem;
	color: white;
	text-align: center;
}
#fileOut img{
	display: block;
	margin: 8px 0 -12px 16px;
	width: 16px;
	height: 16px;
}
.commentList{
	position: absolute;
	top: 120px;
	left: 0;
	width: 700px;
}
table,thead,tbody,th,td{
	border-bottom: 1px solid #CCCCCC;
	border-collapse: collapse;
	text-align: center;
}
.No,.name,.score{
	width: 72px;
}
.platform{
	width: 112px;
}
.catchTime,.commentTime{
	width: 136px;
}
.detail{
	width: 88px;
}
.detail input{
	width: 64px;
	height: 24px;
	border: 1px solid #CCCCCC;
	color: #29DACC;
	background-color: white;
	border-radius: .25rem;
}
.detail input:hover,.changeItem input:hover{
	cursor: pointer;
	font-weight: bold;
}
th{
	height: 40px;
	line-height: 40px;
	background-color: #29DACC!important;
	color: white;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
}
td{
	height: 32px;
	line-height: 32px;
	font-size: 12px;
}
tbody tr:hover{
	background-color: #A6FFFF;
}
.turnPages{
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
}
.turnPages div{
	display: inline-block;
	margin-left: 16px;
}
.turnPages input{
	width: 64px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	margin: 0 8px;
	border: 1px solid #29DACC;
	background-color: #29DACC;
	border-radius: .25rem;
	color: white;
}
.turnPages input:hover{
	cursor: pointer;
}
#targetPage{
	background-color: white;
	border: 1px solid #999999;
	color: #808080;
	text-align: right;
	padding: 0 8px;
	width: 40px;
	height: 24px;
	line-height: 24px;
	vertical-align: top;
}
.commentDetail{
	position: absolute;
	top: 120px;
	left: 708px;
	width: 454px;
	font-size: 14px;
}
.commentTitle{
	height: 43px;
	line-height: 43px;
	background-color: #29DACC;
	padding: 0 12px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: left;
}
form label{
	display: inline-block;
	width: 72px;
	margin: 3px 12px;
}
form span{
	display: inline-block;
	width: 344px;
	background-color: #F0F0F0;
}
#commentContent1,#commentContent2{
	margin: 3px 12px;
	width: 402px;
	padding: 2px 12px;
	height: 186px;
	border: 1px solid #F0F0F0;
	background-color: #F0F0F0;
	resize: none;
}
.commentOperationTitle{
	margin: 4px 12px;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: 2px solid #29DACC;
	width: 60px;
	padding-bottom: 2px;
}
.commentOperation div{
	margin: 16px 12px;
}
.commentOperation label{
	display: inline-block;
	width: 72px;
}
.commentOperation span{
	display: inline-block;
	width: 124px;
	padding-left: 8px;
	margin-right: 16px;
	background-color: #F0F0F0;
}
#artiScore1,#artiScore2{
	margin-right: 0;
}
#newScore1,#newScore2{
	padding: 0 4px;
	margin-right: 16px;
	width: 120px;
	height: 24px;
	line-height: 24px;
	border-radius: .25rem;
	border: 1px solid #CCCCCC;
	background-color: white;
	color: #333333;
}
.commentOperation input{
	width: 98px;
	height: 26px;
	line-height: 26px;
	letter-spacing: 1px;
	font-size: 12px;
	margin: 0;
	border: 1px solid #29DACC;
	background-color: #29DACC;
	border-radius: .25rem;
	color: white;
}
.commentOperation input:hover{
	cursor: pointer;
	font-weight: bold;
}
#reply1,#reply2{
	border: 1px solid #28CC82;
	background-color: #28CC82;
}
.changeItem{
	width: 428px;
	margin: 12px 8px 0 8px;
	text-align: center;
}
.changeItem input{
	width: 211px;
	height: 28px;
	line-height: 28px;
	letter-spacing: 1px;
	font-size: 12px;
	margin: 0;
	border: 1px solid #29DACC;
	background-color: #29DACC;
	border-radius: .25rem;
	color: white;
}
.tip{
	width: 412px;
	height: 120px;
	position: absolute;
	top: 300px;
	left: 352px;
	border: 1px solid #CCCCCC;
	border-radius: .4rem;
	box-shadow: 0 0 5px 5px #CCCCCC;
	background-color: white;
	text-align: center;
	visibility: hidden;
}
.tip img{
	display: inline-block;
	height: 28px;
	width: 28px;
	padding: 26px 0;
}
#progress{
	padding-bottom: 6px;
	height: 72px;
	width: 130px;
}
.tip div{
	position: absolute;
	top: 0;
	left: 40px;
}
.tip span{
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 32px;
	font-weight: bold;
	font-size: 18px;
	color: #666666;
	margin-left: 8px;
}
.replyBox{
	position: absolute;
	top: 176px;
	left: 4px;
	width: 1112px;
	border: 1px solid #CCCCCC;
	border-radius: .4rem;
	box-shadow: 0 0 5px 5px #CCCCCC;
	background-color: white;
	padding: 18px;
	visibility: hidden;
}
.replyBox img{
	position: absolute;
	top: 16px;
	right: 12px;
	width: 28px;
	hanging-punctuation: 28px;
}
.replyBox img:hover{
	cursor: pointer;
}
.replyTitle{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	width: 40px;
	padding-bottom: 2px;
	margin-bottom: 16px;
	border-bottom: 3px solid #29DACC;
}
.replyInfo div{
	margin: 8px 0;
	font-size: 12px;
	font-weight: bold;
}
.replyInfo textarea{
	width: 99%;
	margin-top: 8px;
	height: 120px;
	border: 1px solid #CCCCCC;
	border-radius: .25rem;
	resize: none;
	color: #808080;
}
#history{
	color: #999999;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}
.replyBox input{
	display: inline-block;
	width: 240px;
	height: 40px;
	color: white;
	background-color: #29DACC;
	border: 1px solid #29DACC;
	border-radius: .25rem;
	margin-top: 16px;
}
.replyBox input:hover{
	cursor: pointer;
}
